.custom-arrow {
    width: 30px;
    height: 30px;
    z-index: 1;
  }
  
  .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: black;
  }
  
  .slick-prev:before {
    content: '←';
  }
  
  .slick-next:before {
    content: '→';
  }
  
  @media (min-width: 1024px) {
    .slick-prev {
      left: -35px;
    }
  
    .slick-next {
      right: -35px;
    }
  }
  
  @media (max-width: 1024px) {
    .slick-prev, .slick-next {
      display: block !important;
    }
  }